* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Nunito', sans-serif;
}

body {
    background-image: url('jokalariDendaFondoa.webp');
    /* Actualiza con la ruta correcta de la imagen */
    background-size: cover;
    /* Asegura que la imagen cubra todo el espacio disponible */
    background-position: center;
    /* Centra la imagen en la página */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-attachment: fixed;
    /* La imagen de fondo es fija en relación con la ventana de visualización */
}

@media (max-width: 600px) {
    body {
        background-image: url('jokalariDendaFondoa.webp');
        /* Puedes usar la misma imagen o una diferente para móviles */
        background-size: cover;
        /* Asegura que la imagen cubra todo el espacio disponible */
        background-position: center;
        /* Centra la imagen en la página */
        background-repeat: no-repeat;
        /* Evita que la imagen se repita */
        /* No usamos 'background-attachment: fixed;' en móviles para prevenir problemas de rendimiento */
    }
}

.containerJokalariakMenu {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid;
    border-radius: 20px;
    background-color: orange;

}
.diruaAgertzeko2 {
    display: grid;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid;
    border-radius: 20px;
    background-color: orange;
    padding-left: 20px;

}


.containerJokalariak {
    margin-left: 20px;
    margin-right: 20px;
}

.probaBack {
    color: white;
    text-align: center;
    padding-bottom: 2px;
}
.probaBack1 {
    color: white;
    text-align: left;
    padding-top: 6px;
}

.btnArrowJokalariak {
    border: 0px solid;
    background-color: transparent;
    color: white;
    font-size: 30px;
}

.jokalariBakoitza {
    background-color: rgba(249, 249, 249, 0.588);
    border: 3px solid;
    border-radius: 20px;
    border-color: #fe9c00;
    margin: 1em;
    padding: 7px;
    color: rgb(0, 0, 0);
    text-align: center;

}

.containerJokalariak {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}



#selectTaldea {
    border: 0px solid;
    background-color: transparent;
    color: white;
    padding: 5px;
}

#selectTaldea option {
    color: black;
}
.search-buttonFiltro {
    border: 0px solid;
    border-bottom: 2px solid;
    background-color: transparent;
    color: white;
    padding: 5px;
  }

  .sobreDivClass{
    background-image: url("sobreakPNG.png");
    background-color: transparent;
    background-size:150px 240px;
    background-repeat:no-repeat;
    background-position: center;
    height: 15em;
    text-align: center;
    padding-top: 30px;

  }
  .containerDiruaOsoa{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .sobreErosiBtn{
    border: 0px solid;
    border-radius: 10px;
    background-color: goldenrod;
    color: rgb(255, 255, 255);
    padding: 5px;
  }
  .erosiJokalaria{
    background-color: rgb(249, 249, 249);
    border: 3px solid;
    border-radius: 20px;
    border-color: orange;
    margin: 1em;
    padding: 7px;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  .erosiJokalaria:hover{
    background-color: orange;
    
  }