.tituloakPlantilla {
    margin-top: 20px;
    border: 0px solid;
    border-radius: 5px;
    color: var(--footerColor);
    height: auto;
    width: 170px;
    background-color: #f57c00;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.h1textua {
    color: var(--footerColor);
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}



.partidaJolastu {
    color: var(--footerColor);
    border: 2px solid black;
    border-radius: 5px;
    width: 260px;
    padding-top: 5px;
    background-color: #333333b1;
    text-align: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.partidaJolastuDesblok {
    color: var(--footerColor);
    background-color: var(--mainColor);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

.partidaJolastu .h2textua  {
    color: var(--footerColor);
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.partidaJolastuDesblok .h2textua  {
    color: var(--footerColor);
}


.jokalariBakoitzaPlantilan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 190px;
    width: 100%;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: transform 0.3s ease;
}

.jokalariBakoitzaPlantilan:hover {
    transform: translateY(-5px);
}

.Defensa,
.Medio,
.Delantero,
.Portero {
    color: var(--footerColor);
    padding: 5px;
    border-radius: 3px;
    margin: 5px 0;
    text-align: center;
}

.Defensa {
    background-color: #ffcf3282;
}

.Medio {
    background-color: #002fff8f;
}

.Delantero {
    background-color: #ae00ff89;
}

.Portero {
    background-color: #09ff008b;
}
.taldekoInfoa{
    width: 33%;
    background-color: #ae69448c;
    border-radius: 10px;
    border: 2px solid var(--footerColor);
    padding-top: 5px;
}
.plantillaContainerbarrukoa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}
.tituloakPlantilla{
    background-color:#f57b00cf;
}
.jokoraEmanBtn,
.plantilaraEmanBtn {
    border-radius: 5px;
    background-color: var(--mainColor);
    border: none;
    color: var(--footerColor);
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.jokoraEmanBtn:hover,
.plantilaraEmanBtn:hover {
    background-color: #e65100;
}

.brilliant-border {
    border: 3px solid;
    border-color: var(--mainColor);
}

.jokalariakContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.jokalariBakoitza {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--footerColor);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    color: var(--footerColor);
}

.jokalariBakoitza>div {
    margin: 5px 0;
}

.plantilaraEmanBtn {
    border-radius: 5px;
    background-color: var(--mainColor);
    border: none;
    color: var(--footerColor);
    padding: 10px 20px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .jokalariakContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .jokalariBakoitza {
        width: auto;
    }
    .taldekoInfoa{
        width: 80%;
    }
}

body {
    background-image: url('JokalarienArgazkiaHolanda.webp');
    /* Actualiza con la ruta correcta de la imagen */
    background-size: cover;
    /* Asegura que la imagen cubra todo el espacio disponible */
    background-position: center;
    /* Centra la imagen en la página */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-attachment: fixed;
    /* La imagen de fondo es fija en relación con la ventana de visualización */
}

@media (max-width: 600px) {
    body {
        background-image: url('JokalarienArgazkiaHolanda.webp');
        /* Puedes usar la misma imagen o una diferente para móviles */
        background-size: cover;
        /* Asegura que la imagen cubra todo el espacio disponible */
        background-position: center;
        /* Centra la imagen en la página */
        background-repeat: no-repeat;
        /* Evita que la imagen se repita */
        /* No usamos 'background-attachment: fixed;' en móviles para prevenir problemas de rendimiento */
    }
}

